@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectCookBook</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectCookBook.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="_CookieConsentPartial" />

        <div id="Header" class="Header">

            <div id="Header_Search_Bar">
                <form asp-controller="Recettes" asp-action="Search" method="post" class="search-form">
                    <input type="search" name="Search_Recipe" id="Search_Recipe" placeholder="Rechercher une recette...">
                    <button type="submit" id="Search_Recipe_Button">Rechercher</button>
                </form>
            </div>

            <div id="Header_Menu" class="Header_Part">

                <div class="boutonBurger" id="boutonBurger">
                    <span class="span1" id="span1"></span>
                    <span class="span2" id="span2"></span>
                    <span class="span3" id="span3"></span>
                </div>

                <div class="menuBurger" id="menuBurger">
                    <a asp-controller="Home" asp-action="Index" class="elt">Accueil</a>
                    <a asp-controller="Recettes" asp-action="Recettes" class="elt">Toutes les recettes</a>
                    <a asp-controller="Recettes" asp-action="Ajouter" class="elt">Crée ma recette</a>
                    <a asp-controller="Recettes" asp-action="MesRecettes" class="elt">Mes Recettes</a>
                    <a asp-controller="Comptes" asp-action="Compte" asp-route-id="@int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))" class="elt">Compte</a>
                    <button onclick="changeTheme('Light')">Clair</button>
                    <button onclick="changeTheme('Dark')">Sombre</button>
                    <button onclick="changeTheme('Rubisnoir')">Custom</button>
                </div>

            </div>

            <div class="Header_Part" id="Header_Account">
                <button type="button" id="Header_Account_Button" data-url="@Url.Action("Compte", "Comptes", new { id = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) })">Compte</button>
            </div>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="Footer_Part" id="Footer">

            <div class="Footer_Part" id="Complementary_Intel">
                <h1>[info]</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, nihil veniam ut eaque deserunt ad
                    quaerat sunt? Dolorem consectetur iste distinctio, ad odio reiciendis, assumenda, ex quo earum velit
                    mollitia!
                </p>
            </div>

            <hr>

            <nav class="Footer_Part" id="Footer_Nav">
                <ul>
                    <li><a asp-controller="Home" asp-action="Privacy" class="elt">Mentions Légales</a></li>
                    <li>[2-]</li>
                    <li>[3-]</li>
                </ul>
            </nav>



            <div class="Footer_Part" id="copyright">
                <img src="/Img/Icons/Copyright-Logo.png" alt="Logo Copyright" id="Logo_Copyright">All rights reserved,
                Gastronome Créatif.
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
