@model Ingredient
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<form asp-action="AjoutIngredient" asp-controller="Recettes" method="post">
    <fieldset>
        <h1>@TempData["ValidateMessage"]</h1>
        <label asp-for="@Model.nom">Ingrédient a créer : </label>
        <input asp-for="@Model.nom" />
        <input type="submit" value="Valider" />
    </fieldset>
</form>


