@model Ingredient
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<form>
    <fieldset>
        <label aso-for="@Model.nom">Ingrédient a créer : </label>
        <input aso-for="@Model.nom" />
    </fieldset>
</form>


