body {
    overflow-x: visible;
}

#Recipe {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "Recipe_Info Recipe_Image"
        "Recipe_Steps Recipe_Info_Preparation"
        "Rating Recipe_Info_Preparation";
    gap: 20px;
}

div.Recipe_Left_Part {
    width: 55vw;
}

div.Recipe_Right_Part {
    width: 39vw;
}

.Recipe_Part {
    border: 2px solid var(--Border_Color);
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--Recipe_Part_Background_Color);
}

#Recipe_Image > * {
    width: 100%;
}

/* Step List */
ul {
    padding-left: 10px; /* Espacement général pour la liste */
    margin: 0;
}

    ul li {
        position: relative; /* Nécessaire pour gérer la bordure et le pseudo-élément */
        padding-left: 10px; /* Espace pour laisser place à la puce personnalisée */
        border: 2px solid var(--Border_Color); /* Bordure autour de l'élément li, incluant la puce et le texte */
        margin-bottom: 10px; /* Espacement entre les éléments de la liste */
        display: flex;
        align-items: center; /* Aligne verticalement le texte et la puce */
        border-radius: 20px;
    }

#Recipe_Steps ul li {
    background-color: var(--Recipe_Etapes_Background_Color);
}

#Recipe_Info_Preparation ul li {
    background-color: var(--Recipe_Ingredients_Background_Color);
}

#Recipe_Categories ul li {
    background-color: var(--Recipe_Categorie_Background_Color);
}

#Rating ul li {
    background-color: var(--Recipe_Avis_Background_Color);
}

ul li::marker {
    font-size: 18px;
    font-weight: bold;
}

div.Recipe_Step {
    margin-right: 15px;
}



div.Rating {
    display: flex;
    flex-wrap: wrap;
    width: 55vw;
    background-color: var(--Recipe_Avis_Background_Color);
    clip-path: none;
    height: auto;
    position: relative;
    padding-left: 20px;
    border: solid var(--Border_Color);
    border-radius: 20px;
    margin-bottom: 5px;
}

    div.Rating > div {
        width: 55vw;
    }

h2.Rating {
    width: 20px;
    margin: 0px;
    margin-right: 5px;
    position: relative;
    clip-path: none;
    background-color: var(--Recipe_Avis_Background_Color);
}

h3.Rating {
    margin: 1px;
    top: 0;
    position: relative;
}

h2.Rating, h3.Rating {
    display: inline-block;
}

@media (max-width: 426px) {
    div.Rating {
        width: 80vw;
    }
}
