@model List<Recette>
@{
    ViewData["Title"] = "Recettes";
}

    <h1 for="Body_Recipes" class="Label_Zones_Accueil" id="Label_My_Recipes">Mes Recettes</h1>
    <div id="Body_Recipes" class="Vignette_Recipes">
        @foreach (var recette in Model)
        {
            @await Html.PartialAsync("_RecipeBook", recette)
        }
    </div>
