@model List<Recette>
@{
    ViewData["Title"] = "Recettes";
}

<body>
    <h1 for="Body_Recipes" class="Label_Zones_Accueil" id="Label_Recipes">Recettes</h1>
    <div id="Body_Recipes" class="Vignette_Recipes">
        @foreach (var recette in Model)
        {
            @await Html.PartialAsync("_RecipeBook", recette)
        }
    </div>

    <div id="Footer_PlaceHolder"></div>
</body>