h1.Label_Zones_Search {
    border-top: none;
    display: block;
    background-color: var(--Label_Zones_Accueil_Background_Color);
    height: 5vh;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-large;
    border-bottom: var(--Label_Zones_Accueil_Border_Bottom) solid;
    border-left: var(--Header_Border_Color) solid;
    border-right: var(--Header_Border_Color) solid;
}

/* bouton Filter */
.boutonFilter {
    position: fixed;
    top: 95px;
    right: 32px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 25;
}

.span4 { /* Chapeau */
    position: absolute;
    top: 6px;
    width: 100%;
    height: 4px;
    background-color: var(--Span_Color);
    transition: 0.5s;
}

.span5 { /* Branche gauche */
    position: absolute;
    top: 14px;
    width: 50%;
    left: 0;
    height: 4px;
    background-color: var(--Span_Color);
    transition: 0.5s;
    transform: rotate(30deg);
}

.span6 { /* Branche droite */
    position: absolute;
    top: 14px;
    width: 50%;
    right: 0;
    height: 4px;
    background-color: var(--Span_Color);
    transition: 0.5s;
    transform: rotate(-30deg);
}

.span7 { /* Tige verticale */
    position: absolute;
    top: 22px;
    left: 50%;
    width: 4px;
    height: 12px;
    background-color: var(--Span_Color);
    transition: 0.5s;
    transform: translateX(-50%);
}

/* Mode Open : Croix */
.span4Open {
    transform: rotate(-45deg);
    top: 16px;
}

.span5Open {
    transform: rotate(45deg);
    top: 16px;
    width: 100%;
    height: 4px;
    left: 0;
}

.span6Open {
    display: none;
}

.span7Open {
    display: none;
}



/* MENU BURGER */

.menuFilter {
    position: fixed;
    right: -100vw;
    width: 30vw;
    height: 20vh;
    background-color: var(--Header_Background_Color);
    transition-duration: 0.5s;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuFilterOpen {
    right: 0;
    top: 300px;
}

.menuFilter > div {
    color: var(--Menu_Burger_Font_Color);
    margin: 2.5px;
    text-decoration: none;
}
