@model List<Recette>
@{
    ViewData["Title"] = "Home Page";
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('@Url.Action("GetCategories", "Home")')
            .then(response => response.text())
            .then(data => {
                document.getElementById('Body_Recipes_Categories').innerHTML = data;
            })
            .catch(error => {
                console.error("Erreur lors du chargement des catégories :", error);
                document.getElementById('Body_Recipes_Categories').textContent = 'Impossible de charger les catégories. Réessayez plus tard.';
            });
    });
</script>


<div id="Body">

    <h1 class="Label_Zones_Accueil" id="Label_My_Recipes">Mes Recettes</h1>
    <div class="Scroll_Width_Div" id="Body_My_Recipes">
        @foreach(var recette in Model)
        {
            @await Html.PartialAsync("_RecipeBook", recette)
        }
    </div>

    <h1 class="Label_Zones_Accueil" id="Label_Recipes_Categories">Categories</h1>
    <div class="Scroll_Width_Div" id="Body_Recipes_Categories">
        @*script ajoute les categories*@
    </div>

    <h1 class="Label_Zones_Accueil" id="Label_Recipes_Accueil">Recettes</h1>
    <div id="Body_Recipes" class="Vignette_Recipes">
        @foreach (var recette in Model)
        {
            @await Html.PartialAsync("_RecipeBook", recette)
        }
    </div>
</div>
