@model RecetteHomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.Recipe_Categorie').forEach(div => {
            div.addEventListener('click', function () {
                let url = this.getAttribute('data-url');
                if (url) {
                    window.location.href = url; // Redirige vers SearchOnClick avec la catégorie
                }
            });
        });
    });
</script>

<div id="Body">

    <h1 class="Label_Zones_Accueil" id="Label_My_Recipes">Mes Recettes</h1>
    <div class="Scroll_Width_Div" id="Body_My_Recipes">
        @foreach(var recette in Model.mesrecettes)
        {
            @await Html.PartialAsync("_RecipeBook", recette)
        }
    </div>

    <h1 class="Label_Zones_Accueil" id="Label_Recipes_Categories">Categories</h1>
    <div class="Scroll_Width_Div" id="Body_Recipes_Categories">
        @foreach(var categorie in Model.categories)
        {
            @await Html.PartialAsync("_CategorieVignette", categorie)
        }
        
    </div>

    <h1 class="Label_Zones_Accueil" id="Label_Recipes_Accueil">Recettes</h1>
    <div id="Body_Recipes" class="Vignette_Recipes">
        @foreach (var recette in Model.recettes)
        {
            @await Html.PartialAsync("_RecipeBook", recette)
        }
    </div>
</div>
