<div class="body">
    <div class="Admin_Direction">
        <button id="Bouton_Admin_Recettes">Recettes</button>
    </div>
    <div class="Admin_Direction">
        <button id="Bouton_Admin_Utilisateurs">Utilisateurs</button>
    </div>
    <div>
        <button type="button" onclick="location.href='@Url.Action("AjoutIngredient", "Recettes")'">Créer ingrédient</button>
    </div>
    <div>
        <button type="button" onclick="location.href='@Url.Action("AjoutCategorie", "Recettes")'">Créer catégorie</button>
    </div>
</div>