<div class="body">
    <div class="Admin_Direction">
        <button id="Bouton_Admin_Recettes">Recettes</button>
    </div>
    <div class="Admin_Direction">
        <button id="Bouton_Admin_Utilisateurs">Utilisateurs</button>
    </div>
</div>