div#Theme {
    position: absolute;
    top: 50vh;
}

div#Personnal_Information {
    position: relative;
    left: 20vw;
    width: 50vw;
    border: 3px black solid;
    border-top: 1px var(--Div_Background_Color) solid;
    background-color: var(--Div_Background_Color);
}
